@import "vars";


/*==========  Desktop First  ==========*/



@media screen and (max-width: 1300px){
  .section-header__question_ul li {
    width: 165px;
  }
  .section-header__info-phone {
    margin-left: 0;
  }
}

// ≥1200px
@include media-breakpoint-down(lg) {
  #header .sf-menu li > ul.open {
    position: static;
    display: block;
    a {
      padding-left: 30px !important;
    }
  }
  #header .menuparent:before {
    right: -10px;
    top: 17px;
  }
  #header .menuparent:hover ul {
    display: none;
  }
  #header .sf-menu li {
    padding: 0 !important;
  }
  #header #block-superfish-1 ul#superfish-1 > li a, #header #block-superfish-1 ul#superfish-1 > li span {
    margin: 0;
    display: inline-block;
    padding: 10px;
  }
  .section-header__info-text {
    margin-left: auto;
  }
  //.block-superfish {
  //  display: none;
  //}
  .menu-text,
  .toggle-mnu {
    display: inline-block;
  }
  ul#superfish-1 {
    display: block;
    background-color: #2e6789;
    position: relative;
    z-index: 1;
  }
  #header .sf-menu {
    padding-bottom: 15px;
  }
  #header #block-superfish-1 ul#superfish-1>li {
    display: block;
    text-align: left;
    margin-top: 5px;
    height: auto;
  }
  #header #block-superfish-1 ul#superfish-1>li:before {
    display: none;
  }
  #header .sf-menu a {
    display: inline-block;
    position: relative;
    padding-right: 30px;
  }
  .sf-sub-indicator {
    top: -7px;
  }
  .block-superfish {
    display: none;
  }
  .step-checkbox {
    margin: 10px;
  }
  .step-buttons {
    width: 200px;
    margin: 10px;
    .btn {
      padding: 15px;
    }
  }
  .step-checkbox__text {
    padding: 0 10px;
  }
  .section-calculation__top {
    .step-item-list {
      justify-content: center;
    }
  }
  .section-calculation__top {
    text-align: center;
    .btn-orange {
      &:before {
        display: none;
      }
    }
  }
  .block-superfish {
    position: absolute;
    right: 0;
    left: 0;
  }
}



// ≥992px
@include media-breakpoint-down(md) {
  .section-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-bottom-stast {
    margin-bottom: 15px;
  }
  .footer-bottom-stast li {
    margin: 0 0 5px 0;
  }
  .section-box-img {
    margin-right: 0;
  }
  .btn {
    padding: 15px;
  }
  .section-form__label {
    margin-bottom: 20px;
  }
  .section-header__steps-right {
    width: 100%;
  }
  .section-header__steps {
    flex-wrap: wrap;
  }
  .section-header__steps-left {
    width: 100%;
    order: 2;
    padding: 30px;
  }
  .step-item-list .d-flex.align-items-center {
    justify-content: center;
  }
  .step-item-list .d-flex.flex-wrap {
    justify-content: center;
  }
  .section-calculation__step {
    margin-top: 15px;
  }
  .section-calculation__top-span {
    line-height: 20px;
    display: inline-block;
  }
  .section-calculation__top h2 {
    line-height: 26px;
  }
  .section-calculation__info,
  .section-calculation__h3,
  .section-calculation__top .align-items-center.left {
    text-align: left;
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
  .section-header__video-top span,
  .section-header__video-top h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .section-header__question_ul li {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0 !important;
  }
  .section-header__question_ul li:after {
    width: auto;
    left: 50px;
  }
  .container {
    padding: 0;
  }
  .section-header__video-bottom h2 {
    font-size: 16px;
  }
  .step-item-header {
    font-size: 17px;
    line-height: 20px;
  }
  .step-item-list-title {
    font-size: 20px;
    line-height: 22px;
  }
  .section-header {
    background-position: bottom;
  }

}

// ≥576px
@include media-breakpoint-down(xs) {
  .specialists-list {
    padding: 0 40px;
  }
  .section {
    padding: 15px;
  }
  .section-calculation__top {
    padding: 15px;
  }
  .section-calculation__advantages {
    padding: 15px;
  }

  .section-calculation__advantages h2 {
    font-size: 25px;
  }
  .section-calculation__advantages li {
    margin-bottom: 10px;
  }

  .section-calculation__advantages li {
    width: 100%;
  }

  .section-photo {
    margin-left: -15px;
  }
  .section-photo__item {
    margin: 0 0 15px 15px;
  }

  .step-item-gift h2 {
    font-size: 24px;
  }

  .section-header__video-bottom,
  .section-header__video,
  .footer,
  .section-calculation__bottom,
  .section-header__steps-left,
  .section-header__steps-right {
    padding: 15px;
  }

  .section-header__info-phone {
    font-size: 26px;
  }
  .section-header__info {
    padding: 15px;
  }
  .logo {
    margin-right: 5px;
  }
  .section-header__info .d-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-header__info-text {
    margin: 10px 0;
  }
  .section-header__info-ul {
    position: absolute;
    right: 10px;
    top: 6px;
  }
  .section-header__info {
    .col-xl-6 {
      position: static;
    }
  }
}


@media screen and (max-width: 480px){
 .step-checkbox {
   width: 100% !important;
   margin: 10px 0 !important;
 }
  .step-checkbox-outher .step-checkbox__text,
  .step-checkbox-outher {
    width: 100%;
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
  .container {
    max-width: 1340px;
  }
}
