.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0,0)}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{display:none}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-item img{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);-moz-transition:scale(1.3,1.3);-ms-transition:scale(1.3,1.3);-o-transition:scale(1.3,1.3);transition:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}


/*! nouislider - 13.1.4 - 3/20/2019 */
.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative;direction:ltr}.noUi-base,.noUi-connects{width:100%;height:100%;position:relative;z-index:1}.noUi-connects{overflow:hidden;z-index:0}.noUi-connect,.noUi-origin{will-change:transform;position:absolute;z-index:1;top:0;left:0;height:100%;width:100%;-ms-transform-origin:0 0;-webkit-transform-origin:0 0;-webkit-transform-style:preserve-3d;transform-origin:0 0;transform-style:flat}html:not([dir=rtl]) .noUi-horizontal .noUi-origin{left:auto;right:0}.noUi-vertical .noUi-origin{width:0}.noUi-horizontal .noUi-origin{height:0}.noUi-handle{-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute}.noUi-touch-area{height:100%;width:100%}.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{-webkit-transition:transform .3s;transition:transform .3s}.noUi-state-drag *{cursor:inherit!important}.noUi-horizontal{height:18px}.noUi-horizontal .noUi-handle{width:34px;height:28px;left:-17px;top:-6px}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;left:-6px;top:-17px}html:not([dir=rtl]) .noUi-horizontal .noUi-handle{right:-17px;left:auto}.noUi-target{background:#FAFAFA;border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-connects{border-radius:3px}.noUi-connect{background:#3FB8AF}.noUi-draggable{cursor:ew-resize}.noUi-vertical .noUi-draggable{cursor:ns-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{position:absolute;white-space:nowrap;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-sub{background:#AAA}.noUi-marker-large{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}.noUi-value-horizontal{-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}.noUi-rtl .noUi-value-horizontal{-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);padding-left:25px}.noUi-rtl .noUi-value-vertical{-webkit-transform:translate(0,50%);transform:translate(0,50%)}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px solid #D9D9D9;border-radius:3px;background:#fff;color:#000;padding:5px;text-align:center;white-space:nowrap}.noUi-horizontal .noUi-tooltip{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left:50%;bottom:120%}.noUi-vertical .noUi-tooltip{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top:50%;right:120%}


.outer {
  width: 100%
}


.logo {
  img {
    max-width: 100%;
  }
}

#big .item {
  background: #ec6e46;
  padding: 120px 0;
  margin: 2px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

#thumbs .item {
  background: #C9C9C9;
  height: 70px;
  line-height: 70px;
  padding: 0px;
  margin: 2px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

#thumbs .item h1 {
  font-size: 18px;
}

#thumbs .current .item {
  background: #FF5722;
}

.owl-theme .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}

#big.owl-theme {
  position: relative;
}

#big.owl-theme .owl-next,
#big.owl-theme .owl-prev {
  //background: #333;
  width: 22px;
  line-height: 40px;
  height: 56px;
  position: absolute;
  text-align: center;
  top: 20%;
  background-image: url('../img/left.png');
}

#big.owl-theme .owl-next {
  background-image: url('../img/right.png');
}

#big.owl-theme .owl-prev {
  left: 10px;
}

#big.owl-theme .owl-next {
  right: 10px;
}

#thumbs.owl-theme .owl-next,
#thumbs.owl-theme .owl-prev {
  background: #333;
}









.in-border {
  border: 1px solid #ffd21e;
  padding: 0 5px;
}



.header {
  background-image: url('../img/header.jpg');
  -webkit-background-size: cover;
  background-size: cover;
}


.we-work {
  text-transform: uppercase;
  color: #2d688a;
  font-size: 14px;
  border-bottom: 1px solid #fff;
}


.header-calc-wrap {
  background-color: rgba(0,0,0,.5);
  .header-calc {
    &__h2 {
      color: #fff;
    }
  }
}


.text-center {
  text-align: center;
}



.header-calc__item {
  width: 195px;
  height: 195px;
  border: 1px solid #606060;
  margin-right: 40px;
  display: inline-block;
  padding: 10px;
  position: relative;
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  &.checked {
    border-color: #ffd21d;
    .header-calc__check {
      background-color: green;
    }
    .header-calc__img {
      filter: grayscale(0%);
    }
  }
}

.header-calc__check {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  top: 10px;
  right: 10px;
}


.header-calc__img {
  filter: grayscale(100%);
}



.header-calc-form {
  width: 315px;
  border: 20px solid red;
}

.main-block {
  background-color: #f7f7f7;
  display: flex;
}


.section {
  background-color: #fff;
  box-shadow: 0 3px 16px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  padding: 40px;
  transition: box-shadow 300ms ease;
  &:hover {
    box-shadow: 0 3px 16px 1px rgba(0, 0, 0, 0.18);
  }
  p {
    color: #000;
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 20px 0;
  }
  &__h2 {
    text-transform: uppercase;
    color: #2e6789;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    strong {
      font-weight: bold;
    }
  }
}

.section-box {
  display: flex;
}

.section-box-img {
  margin: 0 30px 15px 0;
}


.text-with-img {
  img {
    margin-right: 20px;
  }
}



.photo-house-item {
  height: 200px;
  overflow: hidden;
  margin-bottom: 30px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.specialists-thmb {
  display: inline-block;
  width: 180px !important;
  height: 180px;
  background-color: #eae0e1;
  margin: 12px;
  img {
    max-width: 100%;
  }
}

.btn {
  color: #fff;
  font-size: 14px;
  padding: 15px 60px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  display: inline-block;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
  &.btn-red {
    background:radial-gradient(circle at top center, #fd0202 - 20%, #c00303 100%);
    color: #fff;
    &:hover {
      background:radial-gradient(circle at top center, #c11718 - 20%, #890605 100%);
    }
  }

  &.btn-blue {
    background:radial-gradient(circle at top center, #38a4e4 -40%, #0f5880 100%);
    &:hover {
      background:radial-gradient(circle at top center, #2385c0 -40%, #0a3b55 100%);
    }
  }
  &.btn-line-red {
    background: linear-gradient(#db1313, #c00202);
    width: 100%;
    &:hover {
      background: linear-gradient(#c21718, #8a0606);
    }
  }
  &.btn-orange {
    background: linear-gradient(#ffd21e, #ff961e);
    color: #000;
    &:hover {
      background: linear-gradient(#e6bb14, #de8015);
    }
  }
  &.btn-border {
    background: transparent;
    border: 1px solid #e6bb14;
    padding: 15px 25px;
    &:hover {
      background-color: #ffd11e;
      color: #000;
    }
  }
}


.section-form {
  &__label {
    border: 1px solid #c0d1db;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    display: block;
    padding: 30px 15px 10px 15px;
    position: relative;
    margin-bottom: 50px;
    background-color: #fff;
    input {
      width: 100%;
      border: 0;
    }
  }
  &__title {
    font-size: 13px;
    color: #7e848c;
    position: absolute;
    top: 5px;
    left: 15px;
  }
}

.section-photo {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
  justify-content: center;
  &__item {
    margin: 0 0 38px 38px;
    position: relative;
    a {
      display: block;
      &:hover {
        &:before {
          opacity: 1;
        }
      }
      &:before {
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
        transition: opacity 300ms ease;
      }
    }
  }

}

.first-section {
  margin-top: -55px;
}

.section-header {
  background: #f7f7f7 url('../img/header-bg.png') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 70px;
  &__menu {
    width: 100%;
    background-color: #2e6789;
    color: #fff;
  }



  &__info {
    padding: 10px 0;
    .logo {
      margin-right: 20px;
    }
  }
  
  &__video {
    background-color: rgba(0,0,0,.8);
    padding: 30px;

    &-top {
      color: #fff;
      h1 {
        font-size: 34px;
        line-height: 34px;
        font-weight: bold;
        margin: 0;
      }
      span {
        font-size: 34px;
        color: #bad2f4;
        font-weight: bold;
        line-height: initial;
      }
    }
    
    &-bottom {
      h2 {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }
    
    &-test {
      color: #fff;
    }
  }



  &__steps {
    display: flex;
    &-left {
      width: 320px;
      background-color: rgba(18,42,56,.85);
      padding: 30px;

      padding-bottom: 200px;
    }
    &-right {
      background-color: rgba(0,0,0,.85);
      width: calc(100% - 320px);
      padding: 30px;
      color: #fff;
    }
  }
}


.step-form {
  &-text {
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    .in-border {
      display: inline-block;
      color: #ffd01e;
      margin-top: 15px;
      margin-bottom: 30px;
    }
    span {
      color: #ffd01e;
      display: inline-block;
      margin-left: 5px;
      font-size: 20px;
    }
  }

  &-title {
    font-size: 23px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
  }
  label {
    width: 100%;
  }
  input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 10px;
    color: #fff;
    &::placeholder {
      color: #fff;
    }
  }
}


.step-item {
  &-header {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 20px;
    font-weight: bold;
    span {
      color: #bad2f4;
    }
  }
  &-range {
    height: 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #606060;
    margin-bottom: 20px;
    //overflow: hidden;
    position: relative;
    &-fill {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #ffc41e;
      -webkit-border-radius: 10px 0 0 10px;
      -moz-border-radius: 10px 0 0 10px;
      border-radius: 10px 0 0 10px;
    }
  }
}

.step-item-range-wrap {
  span {
    font-size: 14px;
  }
  .step-item-range-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 16px;
    &:before {
      content: '';
      position: absolute;
      top: -8px;
      left: 0;
      width: 1px;
      height: 8px;
      background-color: #606060;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 1px;
      height: 8px;
      background-color: #606060;
    }
  }
}

.step-checkbox {
  width: 200px;
  height: 200px;
  min-width: 200px;
  border: 1px solid #606060;
  margin: 20px 25px 20px 0;
  position: relative;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  &.active {
    border-color: #ffd21e;
    .step-checkbox__check {
      background-image: url('../img/checkbox.png');
      border: 0;
    }
    .step-checkbox__img {
      filter: grayscale(0);
    }
  }
  .step-checkbox__check {
    position: absolute;
    top: 7px;
    right: 7px;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #bad2f4;
    background-color: rgba(76,73,73,.5);
  }
  &__img {
    position: absolute;
    bottom: 70px;
    filter: grayscale(100%);
    max-height: 110px;
  }
  &__text {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    height: 40px;
    bottom: 0;
    font-size: 14px;
    line-height: 18px;
    &.height-60 {
      height: 60px;
    }
    .bg {
      background: #ffd21e;
      font-size: 12px;
      color: #000;
      padding: 0 5px;
      margin-top: -20px;
    }
  }
  input[type='radio'] {
    display: none;
  }
}


.step-item-list-title {
  color: #ffd21e;
  font-weight: normal;
  position: relative;
  width: 100%;
  overflow: hidden;
  font-size: 28px;
  letter-spacing: 2px;
  &:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px dashed #ffd21e;
  }
}

.step-item-list-dost {
  border-bottom: 1px solid red;
}

.section-header__info-text {
  p {
    margin: 0;
    text-transform: uppercase;
    color: #2e6789;
    font-size: 14px;
    border-bottom: 1px solid #fff;
  }
  a {
    color: #2e6789;
    text-decoration: underline;
    display: inline-block;
  }
  .fa-map-marker {
    color: #2e6789;
    display: inline-block;
    margin-right: 5px;
  }
}

.section-header__info-phone {
  font-size: 30px;
  color: #871001;
  text-decoration: none;
  margin-left: auto;
  &:hover {
    color: #871001;
    text-decoration: none;
  }
}

.section-header__info-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: auto;
  li {
    display: inline-block;
  }
}


.section-header__video-bottom {
  margin-bottom: 50px;
  background-color: rgba(18, 42, 56, .85);
  padding: 20px;
  a {
    display: inline-block;
  }
}


.row-video {
  padding: 20px 0;
  iframe {
    max-width: 100%;
  }
}

.section-form-wrap {
  background-image: repeating-linear-gradient(-45deg,
          transparent,
          transparent 3px,
          #ededed 6px,
          #ededed 6px);
}


.specialists-list {
  position: relative;
  margin: 10px auto 0;
  max-width: 720px;
  padding: 0 65px;
}

.specialists-item {
  h2 {
    font-weight: normal;
    font-size: 28px;
    color: #2e6789;
    margin: 0;
    line-height: 30px;
  }
  span {
    font-size: 14px;
    color: #7e848c;
    display: block;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .btn-red {
    color: #fff !important;
  }
}

#thumbs {
  .owl-stage {
    margin: auto;
  }
  .owl-stage-outer {
    padding: 20px 0;
  }
  .owl-item {
    display: inline-block;
    float: none;
    vertical-align: top;
    &.current {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .item {
        box-shadow: 0 3px 10px 1px rgba(0,0,0,.2);
      }
    }
    .item {
      border: 10px solid #fff;
      width: 200px;
      height: 200px;
      margin: auto;
      background-color: #e9e0e0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.section-slider {
  .section__h2 {
    margin-bottom: 0;
  }
}

//menu

#header #block-superfish-1 {
  height: 50px;
  background: #2e6789;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

#header #block-superfish-1 ul#superfish-1>li {
  display: table-cell;
  text-align: center;
  background: transparent;
  margin: 0;
  float: none;
  padding: 0 13px;
  height: 50px;
  position: relative;
}

ul#superfish-1 {
  width: 100%;
  display: table;
}

#header #block-superfish-1 ul#superfish-1>li:before {
  background: #8dc1e8;
  width: 2px;
  height: 15px;
  content: '';
  position: absolute;
  top: 19px;
  right: 0;
}
#header #block-superfish-1 ul#superfish-1>li:last-child:before {
  display: none;
}


#header #block-superfish-1 ul#superfish-1>li a, #header #block-superfish-1 ul#superfish-1>li span {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  text-decoration: none;
  margin: 14px 0 0 0;
  cursor: pointer;
  white-space: nowrap;
}


.sf-sub-indicator {
  background: url(../img/arrows.png) no-repeat -10px -100px;
  display: block;
  height: 10px;
  overflow: hidden;
  position: absolute;
  top: 7px;
  right: 10px;
  width: 10px;
}


#header {
  .sf-menu {
    padding: 0;
    a {
      display: block;
    }
    .sf-hidden {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #2e6789;
      z-index: 1;
      margin: 0;
      list-style-type: none;
      text-align: left;
      padding: 20px;
      display: none;
    }
  }
}

#footer {
  .block-menu-block {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      a {
        color: #cccccc;
        font-size: 12px;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 5px;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .region-footer-l {
    margin-bottom: 20px;
    float: left;
    width: 100%;
  }
}

#footer #block-menu-block-1 {
  width: 55%;
}


#footer .block-menu-block {
  width: 45%;
  float: left;
}


.section-header__video-test {
  h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  .btn-orange {
    margin-top: 30px;
    position: relative;
    padding: 15px 60px;
    &:before {
      content: '';
      display: block;
      width: 21px;
      height: 37px;
      background-image: url('../img/arrow_bottom.png');
      position: absolute;
      top: -30px;
      right: -30px;
    }
  }
}

.section-header__question_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 35px 0 20px;
  padding: 0;
  li {
    width: 180px;
    height: 100px;
    border-left: 1px solid #ffba1e;
    border-bottom: 1px solid #ffba1e;
    border-right: 1px solid #ffba1e;
    display: inline-block;
    vertical-align: top;
    padding: 30px 10px 10px;
    position: relative;
    text-align: left;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 1px;
      background-color: #ffba1e;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 125px;
      height: 1px;
      background-color: #ffba1e;
    }
    p {
      font-size: 18px;
      color: #fff;
      line-height: 18px;
    }
    span {
      font-size: 40px;
      position: absolute;
      top: -35px;
      left: 20px;
      font-weight: bold;
    }
  }
}


.step-buttons {
  .btn-orange {
    padding: 15px 25px;
  }
  a {
    margin-left: 5px;
  }
}

.step-range {
  margin: 25px 0;
  position: relative;
  &__text {
    position: absolute;
    top: 7px;
    right: 7px;
    color: #fff;
    sup {
      margin-left: -4px;
    }
  }
}

.noUi-horizontal {
  height: 40px;
}

.noUi-target {
  background: transparent;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}


.noUi-horizontal .noUi-handle {
  width: 40px;
  height: 50px;
}

.noUi-target {
  box-shadow: none;
  border: 1px solid #606060;
}

.noUi-handle {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ffba1e;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  left: 50%;
  bottom: 5px;
  background: transparent;
  border: 0;
  font-size: 18px;
  &:focus {
    outline: none !important;
  }
}


.step-checkbox-outher {
  .step-checkbox__text {
    position: static;
    height: auto;
    text-align: center;
    width: 200px;
  }
  .step-checkbox__img {
    position: static;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}


.section-calculation {
  &__top {
    padding: 30px;
    background-color: rgba(18,42,56,.85);
    color: #fff;
    .btn-orange {
      position: relative;
    }
    .btn-orange:before {
      content: '';
      display: block;
      width: 21px;
      height: 37px;
      background-image: url(../img/arrow_bottom.png);
      position: absolute;
      top: -30px;
      left: -30px;
      transform: rotate(-130deg);
    }
    .in-border {
      font-size: 40px;
      color: #ffd21e;
    }
    .rub {
      font-size: 40px;
      color: #ffd21e;
      margin-left: 10px;
    }
  }
  &__bottom {
    background-color: rgba(0,0,0,.8);
    color: #fff;
    padding: 30px;
    border-bottom: 1px solid #414950;
    p {
      margin-bottom: 0;
    }
  }
  &__advantages {
    padding: 30px 80px;
    background-color: rgba(0,0,0,.8);
    text-align: center;
    h2 {
      font-size: 34px;
      color: #ffd21e;
      margin-bottom: 30px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    li {
      width: 285px;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      text-align: left;
      padding-right: 10px;
      line-height: 20px;
      img {
        margin-right: 10px;
      }
    }
  }
  
  &__step {
    .section-header__question_ul {
      justify-content: flex-start;
      padding: 0;
    }
  }
  &__info {
    background-color: #bad2f4;
    padding: 0 10px;
    color: #3c6585;
    font-size: 16px;
    margin: 20px 0;
    span {
      margin-right: 10px;
      display: inline-block;
      a {
        color: #000;
        font-size: 17px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
  }
}

.step-checkbox-outher-calculation {
  .step-checkbox {
    width: 220px;
    height: 130px;
    &.active {
      .step-checkbox__text {
        color: #fff;
      }
    }
  }
  .step-checkbox__text {
    position: static;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #999999;
    .big {
      font-size: 48px;
      line-height: 48px;
      font-weight: bold;
    }
    .small {
      font-size: 18px;
    }
    .medium {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 26px;
    }
  }
}

.section-calculation__top-span {
  font-size: 13px;
  color: #94add0;
  letter-spacing: 1.3px;
}

.section-calculation,
.section-header__steps-wrapper,
.step-item-list {
  display: none;
}

.section-header__steps-wrapper {
  margin-bottom: 50px;
}

.step-item-range-fill-wrap {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 16px;
}

.step-item-gift {
  h2 {
    font-size: 34px;
    font-weight: bold;
  }
  &__text {
    position: relative;
    padding-left: 65px;
    img {
      position: absolute;
      top: 5px;
      left: 0;
    }
    span {
      font-size: 20px;
      line-height: 20px;
    }
    p {
      font-size: 16px;
    }
  }
}


.footer-img {
  li {
    margin-right: 10px;
  }
}

.menu-text {
  display: none;

}
.toggle-mnu {
  display: none;
  width: 32px;
  height: 28px;
  margin: 15px 5px 10px 15px;
  vertical-align: middle;
  cursor: pointer;
}
.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}
.toggle-mnu span:after {
  top: 18px;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}


#header .sf-menu li:hover .sf-hidden {
  display: block;
}

#header .sf-menu .sf-hidden {
  padding-top: 0;
}

.step-item-list .d-flex.align-items-center {
  flex-wrap: wrap;
}


.section-calculation .step-item-list {
  display: block !important;
}

.section-calculation__bottom,
.section-calculation__step {
  .rub,
  .in-border {
    color: #ffd21e;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}